.header__lang-link {
    padding-right: 18px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    text-align: right;
    color: white;
}

.header__lang-link:nth-last-child(1) {
    padding-right: 0;
}

.header__lang-link:hover {
    opacity: 0.65;
    transition: opacity 0.25s ease;
}

@media screen and (max-width: 655px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}