.place {
    max-width: 100%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
}

.place:nth-last-child(1) {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 73px;
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 655px) {
    .place {
        margin-bottom: 50px;
        grid-template-columns: 320px;
        gap: 32px;
    }
}